.about {
  h3 {
    font-weight: 600;
    color: var(--mainColor);
    font-size: var(--fontBig);
  }

  .aboutHero {
    width: 100vw;
    height: 100vh;
    background: url("../public/assets/images/heroBgMobile.png") center center
      no-repeat;
    background-size: cover;
    padding: 2em 1.5em;
    .aboutHeroTitle {
      width: 100%;
      text-align: center;
      h1 {
        font-size: clamp(var(--fontBig), 10vw, var(--fontSuperBig));
        font-weight: 800;
      }
    }

    @media screen and (min-width: 900px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5em 2em;
      background: url("../public/assets/images/heroBg.png") center center
        no-repeat;
      background-size: cover;

      .aboutHeroTitle {
        width: 40%;
        text-align: start;

        // h1 {
        //   font-size: 4rem;
        // }
      }
    }
  }
}
