:root {
  --max-width: 1500px;
  --mainColor: #014dd5;
  --pryColor: #ff9900;
  --secColor: #1d99de;
  --accentColor: #1d99de0d;
  --black: #1e1e1e;
  --white: #fff;
  --fontSuperBig: 4rem;
  --fontBig: 2.2rem;
  --fontSmall: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  font-family: 'Sora', sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
a,
small {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2 {
  font-size: var(--fontSuperBig);
  font-weight: 900;
}

h3 {
  font-size: var(--fontBig);
  font-weight: 600;
  color: var(--mainColor);
}

h5 {
  font-size: var(--fontSMall);
  font-weight: 400;
}

button {
  background: transparent;
  border: none;
}

.main-btn {
  background: var(--pryColor);
  padding: 0.8em 1.1em;
  font-weight: 500;
  border-radius: 10px;
  color: var(--white);
}

.btnOutline {
  border: solid 1px var(--pryColor);
  color: var(--black);
  padding: 0.7em 1em;
  font-weight: 500;
  border-radius: 10px;
}

.btnOutline:hover,
.main-btn:hover {
  background: var(--secColor);
  color: var(--white);
}

.btnScaleUp {
  animation: whileTap 0.2s ease-in-out;
}

@keyframes whileTap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

img {
  width: 100%;
  height: 100%;
}

.slick-prev::before,
.slick-next::before {
  z-index: 1000;
  color: var(--white);
}

.slick-prev {
  left: 70%;
  top: 120%;
  background: var(--mainColor);
  border-radius: 50%;
}
.slick-next {
  right: 20px;
  top: 120%;
  background: var(--mainColor);
  border-radius: 50%;
}

.slick-next:hover,
.slick-prev:hover {
  color: var(--white);
  background: var(--mainColor);
}

@media screen and (min-width: 900px) {
  .slick-prev {
    left: 85%;
    top: 120%;
  }
}

.isActive {
  border-bottom: solid 3px;
  border-color: var(--mainColor);
  padding: 1em !important;
  color: var(--white);
  background: color-mix(in sRGB, transparent 80%, var(--mainColor) 20%);
}
.notActive {
  color: var(--white);
  padding: 1em !important;
}
